* {
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  height: 70px;
}

.itemCount{
  border: 1px solid transparent;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background-color: #f74e77;
  color: #f2f2f2;
  /* margin-top: 22px; */
  /* margin-right: 10px; */
  margin-top: 16px;
  margin-right: 10px;
}
.logo {
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 100%;
}
.catagories {
  display: flex;

  justify-content: center;
  align-items: center;
  margin-left: 15px;
  height: 75px;
}

.hehe {
  margin-bottom: 3px;
}

.items {
  gap: 40px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catagories a {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 550;
  margin-left: 5px;
  margin-right: 5px;
  color: black;
  font-weight: 600;
}

.profile_user,
.heart_user,
.bag_user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 50px;
  font-family: sans-serif;
  /* border: 1px solid black; */
}
.bag_user{
  border: 1px solid transparent;
  height: 80px;
  width: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catagories a:hover {
  text-decoration: underline;
  text-underline-offset: 25px;
  text-decoration-thickness: 4px;
  text-decoration-color: #f74e77;
  cursor: pointer;
}
.search_logo {
  border: 1px solid #f2f2f2;
  border-width: 10px;
  background-color: #f2f2f2;
  border-radius: 8px 0px 0px 8px;
  margin-left: 85px;
  margin-top: 20px;
  position: relative;
}
.userInput {
  width: 300px;
  height: 34px;
  border: 1px solid transparent;
  background-color: #f2f2f2;
  border-radius: 0px 8px 8px 0px;
  margin-top: 20px;
  margin-right: 10px;
}
.underline {
  /* position: fixed; */
  width: 100%;
}




.main_footer {
  background-color: #f9fbfb;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.footer {
  display: flex;
  gap: 300px;
  background-color: #f9fbfb;
  font-family: sans-serif;
  /* margin-top: 200px; */
  /* margin-left: 200px; */
  cursor: pointer;
}
.last_line {
  color: grey;
  display: flex;
  margin-left: 1200px;
  cursor: pointer;
}


.side_div_container{
  display: flex;
}
.item_contaoiner{
  border: 1px solid grey;
  width: 700px;
  height: 200px;
}
.image_1{
  margin-top: 20px;
  margin-left: 20px;
}
.product_name{
display: flex;
margin-left: 150px;
margin-top: -150px;
font-family: sans-serif;
}
.product_company{
  margin-left: 150px;
  color: grey;
  font-family: sans-serif;
}
.price_product_one{
  display: flex;
  gap: 10px;
  margin-left: 150px;
}
.first_price{
  font-weight: 550;
}
.second_price{
  color: grey;
  font-weight: 14px;
}
.return_plocy{
  margin-top: 30px;
  margin-left: 150px;
}
.deliver{
  display: flex;
  margin-left: 150px;
  gap: 4px;
}
.date{
  color: #4343d3;
}
.aside_div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
  padding: 10px;
  height: 250px;
  width: 650px;
}
.remove_item{
  color: grey;
  margin-left: 680px;
  position: relative;
  bottom: 140px;
  font-family: sans-serif;
    text-decoration: none;
}
.remove_item:hover{
  color: red;
}
.main_item_product_container{
  border: 1px solid transparent;
  width: 720px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  margin: 15px;
  justify-content: center;
  align-items: center;
}
.total_price{
  display: flex;
  gap: 390px;
  margin-top: 20px;
  font-family: sans-serif;
}
.discount_price{
  display: flex;
    gap: 340px;
  margin-top: 20px;
  font-family: sans-serif;
}
.deliver_details{
  display: flex;
    gap: 375px;
  margin-top: 20px;
  font-family: sans-serif;
}
.small_line{
  width: 75%;
  margin-top: 10px;
  color: grey;
}
.total{
  display: flex;
    gap: 380px;
  margin-top: 20px;
  font-family: sans-serif;
}
.total_money,.discount_price_text,.deliver_fee{
  color: grey;
  font-size: 14px;
}
.total_money{
  margin-left: 10px;
}
.discount_price_text{
  margin-left: 8px;
}
.deliver_fee{
  margin-left: 20px;
}
.total_text{
  color: #363636;
  font-weight: 550;
  font-size: 14px;
}
.discount_amount{
  color: #02a197;
}
.main_heading_details{
  color: #363636;
  font-weight: 550;
  margin-bottom: 20px;
  font-family: sans-serif;
  font-size: 14px;
}
.final_click{
  border: 1px solid transparent;
  width: 520px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  margin-top: 20px;
  font-size: 20px;
  letter-spacing: 2px;
  background-color: #f74e77;
  color: white;
  border-radius: 8px;
}