.box {
    width: 150px;
    height: 150px;
    background-color: #3498db;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 8px;
    margin: 50px auto;
    font-family: sans-serif;
}
.box:hover{
transform: scale(1.5);
background-color: #2ecc71;
transition: all 2s ease;
}
@keyframes sahil{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(100px);
    }
      100%{
        transform: translateX(0);
    }
}
.box {
    animation: sahil 2s ease-in-out infinite;
}