.button{
    color: white;
    background-color: black;
    border: 1px solid transparent;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: sans-serif;
    border-radius: 8px;
    padding: 40px;
}